<body class="bg-success">

  <div class="container text-center">
    <h1 style="margin-bottom: 30px;"><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/"><cite>SHOESTORE</cite></a></h1>

    <div class="container text-end">
      <a class="btn bg-light " href="/cart" role="button">Tu Carrito</a>
    </div>
    
    <div class="row justify-content-center">

      <div class="col-md-4 col-xs-12 p-3" style="background-color: #e1e1e1;">
        {{#each products}}
        <div class="card mb-4">

          <div class="prod-body">
            <h5 class="prod-title">{{this.title}}</h5>
            <p class="prod-text">{{this.description}}</p>
            <p class="prod-price">${{this.price}}</p>
            <p class="prod-price">{{this.thumbnail}}</p>

            <div style="width: 100%; text-align: right;">
              <a href="#" class="btn btn-success btn-sm addToCart" data-product-id={{this._id}}>Agregar al Carrito</a>
            </div>
          </div>
        </div>
        {{/each}}

      </div>
    </div>

    <nav aria-label="Paginacion">
      <ul class="pagination">
        {{#if pagination.hasPrevPage}}
        <li class="page-item">
          <a class="page-link" href="/products?page={{pagination.prevPage}}&limit={{pagination.limit}}">Pag.
            Anterior</a>
        </li>
        {{/if}}

        {{#if pagination.hasNextPage}}
        <li class="page-item">
          <a class="page-link" href="/products?page={{pagination.nextPage}}&limit={{pagination.limit}}">Pag.
            Siguiente</a>
        </li>
        {{/if}}
      </ul>
    </nav>

</body>


<script>
  document.querySelectorAll('.addToCart').forEach(button => {
    button.addEventListener('click', addToCart);
  });

  function showToast(message, type) {
    Toastify({
      text: message,
      duration: 3000,
      close: true,
      gravity: "top",
      position: "right",
      close: false,
      style: {
        backgroundColor: type === "success" ? "cornflowerblue" : "red",
      }
    }).showToast();
  }

  function addToCart(event) {
    event.preventDefault();
    const productId = event.target.getAttribute('data-product-id');

    fetch('/api/carts', {
      method: 'post',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        products: [{
          pid: productId,
          qty: 1
        }],
        user_name: '{{user}}'
      })

    })
      .then(response => {
        if (response.ok) {
          showToast("¡Producto agregado!", "success")
        } else {
          showToast("Error al agregar el producto", "error")
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Error al agregar el producto al carrito');
      });
  }

</script>